<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX with Koa and TypeScript</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
</head>

<body>
    <h1>Current scouts:</h1>
    <ul>
        <% liveScouts.forEach((scout)=> { %>
            <li>
                <%= scout %>
            </li>
            <% }); %>
    </ul>
    <h1>Seen in Hoth so far:</h1>
    <table id="pilot-list">
        <thead>
            <tr>
                <th>Ship</th>
                <th>Character</th>
                <th>Alliance</th>
                <th>Corp</th>
                <th>Last Seen</th>
                <th>Wormhole</th>
                <th>Scout</th>
                <th>First Seen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% sightings.forEach((sighting, index)=> { %>
                <tr id="item-<%= index %>">
                    <% if (sighting.ship==='' && sighting.name !=='' && sighting.corp==='' ) { %>
                        <td colspan="4">
                            <%= sighting.name %>
                        </td>
                        <% } else { %>
                            <td>
                                <%= sighting.ship %>
                            </td>
                            <td>
                                <%= sighting.name %>
                            </td>
                            <td>
                                <%= sighting.alliance %>
                            </td>
                            <td>
                                <%= sighting.corp %>
                            </td>
                            <% } %>
                                <td>
                                    <%= new Date(sighting.lastSeenOnGrid).toLocaleString() %>
                                </td>
                                <td>
                                    <%= sighting.wormholeName %> (<%= sighting.wormhole %>)
                                </td>
                                <td>
                                    <%= sighting.scoutName %>
                                </td>
                                <td>
                                    <%= new Date(sighting.firstSeenOnGrid).toLocaleString() %>
                                </td>
                                <td>
                                    <button hx-delete="<%= fix_path('/key/' + sighting.key) %>"
                                        hx-target="#item-<%= index %>" hx-swap="outerHTML">
                                        Delete
                                    </button>
                                </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>