<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX with Koa and TypeScript</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
</head>

<body>
    <h1>Seen in Hoth so far:</h1>
    <table id="pilot-list">
        <thead>
            <tr>
                <th>Last Seen</th>
                <th>Wormhole</th>
                <th>Key</th>
                <th>First Seen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% sightings.forEach((sighting, index)=> { %>
                <tr id="item-<%= index %>">
                    <td>
                        <%= new Date(sighting.lastSeenOnGrid).toLocaleString() %>
                    </td>
                    <td>
                        <%= sighting.wormhole %>
                    </td>
                    <td>
                        <%= sighting.key %>
                    </td>
                    <td>
                        <%= new Date(sighting.firstSeenOnGrid).toLocaleString() %>
                    </td>
                    <td>
                        <button hx-delete="<%= fix_path('/key/' + custom_escape(sighting.key)) %>"
                            hx-target="#item-<%= index %>" hx-swap="outerHTML">
                            Delete
                        </button>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>